@media (max-width: 768px) {
    .left {
        position: absolute;
        left: -100vw;
        transition: left 0.6s cubic-bezier(0.77, 0, 0.175, 1);
        z-index: 8841;
    }
    .right {
        width: 100vw;
        margin-left: 0;
    }
    #ham_1 {
        display: block;
        font-size: 25px;
    }
    #ham_2 {
        position: absolute;
        font-size: 30px;
        top: 8;
        left: 8;
        z-index: 128734;
    }
}


@media (max-width: 520px) {
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px 0;
        width: 90%;
        margin: auto;
        text-align: center;
    }
}
@media (max-width: 385px) {
    .card {
        flex: 0 0 auto;
        width: 65%;
        margin: auto;
        background-color: #1e1e1e;
        border-radius: 12px;
        padding: 10px;
        color: white;
        scroll-snap-align: start;
        transition: transform 0.3s ease;
        position: relative; 
    }
}
@media (max-width: 600px) {
    .time-display {
        width: 40%;
    }
    .seekbar {
        width: 90%;
        gap: 30px;
    }
}